/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
}

html, body {
		max-width: 100%;
		max-height: 100%;
    overflow-x: hidden;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4rem 3rem auto auto auto;
	grid-template-areas: 
			"logo social"
			"search search"
			"navigation navigation"
			"main main"
			"footer footer"
}

header {
	background-color: $menuColor;
}

.logo {
	grid-area: logo;
	padding-left: 10px;
}

form {
	grid-area: search;
}
	input {
		width: 98%;
		border-radius: 5px;
		padding: .5rem;
		margin-top: 10px;
		margin: 10px 5px;
		border: none;
	}



/*  ------------- HEADER -------------  */
header {	
	grid-row: 1 / span 2; grid-column: 1 / span 2;
	background-color: $menuColor;

} // end header

/*  ------------- Search Form -------------  */

form {
	grid-area: search;
}

ul.social {
	grid-area: social;
	justify-self: end;
	padding-right: 10px;
	align-self: center;

	li {
		list-style-type: none;
		float: left;
	}
	a {
		display: block;
		background-image: url(../images/socialSprites.png);
		height: 45px;
		width: 45px;
	}

	// social media sprites
	.twitter a {background-position: -90px -45px;}
	.youtube a {background-position: -225px -45px;}
	.facebook a {background-position: -45px -45px;}

	.twitter a:hover {background-position: -90px 0px;}
	.youtube a:hover {background-position: -225px 0px;}
	.facebook a:hover {background-position: -45px 0px;}
}

/*  ------------- NAV -------------  */
nav {
	grid-area: navigation;
	align-self: center;
	background-color: $menuColor;

	button {
		font-size: 1.5rem;
		color: white;
		background-color: rgba(0,0,0,0.2);
		border: solid 1px rgba(168, 168, 168, 0.3);
		width: 3.5rem;
		margin: 3px 0;
		border-radius: 5px;
	}

	ul li a {
		display: block;
		color: #fff;
		text-decoration: none;
		width: 100%;
		padding: .6rem 2%;
		border-bottom: solid 1px rgba(133, 133, 133, 0.473); 
	}

	ul {
		overflow: hidden;
		transition: max-height 0.5s;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
	}

	ul li.active a {background-color: $primaryColor;}
	ul li ul li a {padding-left: 8%;}

	ul.closed {max-height: 0;}
	ul.open {max-height: 25rem;}
} // end nav


/*  ------------- MAIN -------------  */
main {
		grid-area: main;
		max-width: 67rem;
    	min-height: 20rem;
		padding: 1rem 2%;
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr;
		-ms-grid-column: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;

	h1 {
		font-size: 2rem;
		margin: 1.5rem 0 .5rem 0;
		color: $primaryColor;
	} // end h1
	h2 {
		font-size: 1.2rem;
		margin: 1.1rem 0 .2rem 0;
		color: lighten($primaryColor,20%);
	} // end h2
	

	.teaser {
		position: relative;

	span {
			position: absolute;
			display: block;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.6);
			width: 100%;
			padding: .3rem 2%;
			color: white;
			font-size: 1.5rem;
			font-weight: 500;
	}

	 figcaption {
		font-size: 0.6rem;
		font-weight: 300;
	 }

	img {
			display: block; width: 100%;
	}
	}
} // end main

/*  ------------- FOOTER -------------  */
footer {
	grid-area: footer;
	align-self: center;
	width: 100%;
	background-color: $primaryColor;
	p {
		text-align: center;
		color: $secondaryColor;
		padding: .75rem 0;
		font-size: .9rem;
	} // end p
    
	p a {color: $fontColor;}

	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr;
	-ms-grid-column: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	-ms-grid-row: 1fr 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 5px;	
	
} // end footer

.foot {
	text-align: center;
	h2, p {
		color: white;
	}
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.lead {grid-row: 1 / span 2; grid-column: 1 / span 2;
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
}
.secondTop {grid-row: 3; grid-column: 1 / span 2;
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
}
.secondBot {grid-row: 4; grid-column: 1 / span 2;
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
}

ie1 {-ms-grid-row: 4; -ms-grid-column: 1;}
ie2 {-ms-grid-row: 4; -ms-grid-column: 2;}
ie3 {-ms-grid-row: 5; -ms-grid-column: 1;}
ie4 {-ms-grid-row: 5; -ms-grid-column: 2;}

.sections {grid-row: 1;}
.shows {grid-row: 2;}
.tools {grid-row: 3;}
.personalities {grid-row: 4;}